.Image {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

img {
  border-radius: 0.3rem 0.3rem 0 0;
}

@media (min-width: 700px) {
  img {
    width: 790px;
  }
}

@media (min-width: 1630px) {
  img {
    width: 1000px;
  }
}
