.Italic,
.Description {
  font-size: 1.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  margin-bottom: 1rem;
}

.Italic {
  font-style: italic;
  font-weight: 400;
}

@media (min-width: 550px) {
  .Description,
  .Italic {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .Description,
  .Italic {
    font-size: 1.1rem;
  }
}

@media (min-width: 950px) {
  .Description,
  .Italic {
    font-size: 1.2rem;
  }
}

@media (min-width: 1400px) {
  .Description,
  .Italic {
    font-size: 1.3rem;
  }
}

@media (min-width: 1900px) {
  .Description,
  .Italic {
    font-size: 1.4rem;
  }
}
