.Container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  margin-top: 0.7rem;
  margin: 3.5rem, auto, 10rem, auto;
  min-width: 20rem;
}

@media (min-width: 510px) {
  .Container {
    margin-top: 3.4rem;
  }
}

@media (min-width: 806px) {
  .Container {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

@media (min-width: 900px) {
  .Container {
    margin-left: 0.35rem;
    margin-right: 0.35rem;
  }
}

@media (min-width: 900px) {
  .Container {
    margin-left: 0.45rem;
    margin-right: 0.45rem;
  }
}

@media (min-width: 1300px) {
  .Container {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
}

@media (min-width: 1300px) {
  .Container {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

@media (min-width: 2070px) {
  .Container {
    width: 2050px;
    margin-right: auto;
    margin-left: auto;
  }
}
